<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
</head>
<body>
{{ ques.quest }}
</br>
<p>posted at</p>
{{ ques.pub_date }}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'vote' ques.id %}" method="post">
    {% csrf_token %}
    {% for choic in ques.choice_set.all %}
        <input type="radio" name="choic" id="choic{{ forloop.counter}}" value="{{ choic.id }}" />
        <label for="choic{{ forloop.counter}}">{{ choic.choice_text}}</label> </br>
    {% endfor %}
    <input type="submit" value="vote"/>
</form>
</body>
</html>